<!DOCTYPE html>
<html class=" js cssanimations">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<style type="text/css">
		@charset "UTF-8";

		[ng\:cloak],
		[ng-cloak],
		[data-ng-cloak],
		[x-ng-cloak],
		.ng-cloak,
		.x-ng-cloak,
		.ng-hide:not(.ng-hide-animate) {
			display: none !important;
		}

		ng\:form {
			display: block;
		}

		.ng-animate-shim {
			visibility: hidden;
		}

		.ng-anchor {
			position: absolute;
		}
	</style>
	<title>探究型课程自适应学习平台</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport"
		content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
	<meta name="renderer" content="webkit">
	<meta name="apple-mobile-web-app-title" content="研究性学习">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta content="telephone=no" name="format-detection">
	<meta content="email=no" name="format-detection">
	<meta name="screen-orientation" content="portrait">
	<meta name="full-screen" content="yes"><!-- UC强制全屏 -->
	<meta name="browsermode" content="application"><!-- UC应用模式 -->
	<meta name="x5-orientation" content="portrait"><!-- QQ强制竖屏 -->
	<meta name="x5-fullscreen" content="true"><!-- QQ强制全屏 -->
	<meta name="x5-page-mode" content="app"><!-- QQ应用模式 -->
	<link rel="stylesheet" href="./assets/moors_project/moor-6cf6ee9e49.min.css">
</head>

<body ng-app="MoorMiddleApp" ng-controller="middleMainCtrl as mainCtrl" class="ng-scope">
	<div class="v2-main-body student-bg"
		ng-class="{&#39;teacher-bg&#39;: uProfile.authorities[0] === &#39;ROLE_Middle_Teacher&#39;,&#39;student-bg&#39;:uProfile.authorities[0] === &#39;ROLE_Middle_Student&#39;}">
		<div id="app-body" class="app-body">
			<div class="app-content content-warpper middle-view-page"><ng-view class="ng-scope">
					<div class="view-warpper ng-scope"
						ng-class="{&#39;scrollable-admin&#39;:fromType === &#39;manage&#39;}">
						<div class="view-header ng-scope" ng-if="fromType === &#39;research&#39;"><span
								class="header-text-d" ui-back-url="" data-url="/researchList">课题列表 &gt;</span> <span
								class="header-text-d ng-binding">基于C++实现一元二次方程的一般式求解 &gt;</span> <span
								class="header-text ng-binding">基于C++实现的一元二次方程的一般式求解</span></div>
						<div class="view-body">
							<div class="view-body-full">
								<div class="preview-title ng-binding">基于C++实现的一元二次方程的一般式求解</div>
								<div class="preview-title small ng-binding">指导教师：张仲炎</div>
								<div class="preview-content">
									<table class="preview-table">
										<tbody>
											<tr>
												<th colspan="4"><img src="./assets/moors_project/team-icon.png"
														alt="">团队组建
												</th>
											</tr>
											<tr ng-repeat="member in memberList" class="ng-scope">
												<td style="width: 100px; text-align: center" class="ng-binding">创建者</td>
												<td style="width: 100px;
                text-align: center;
                color: #10aeff;
                padding: 10px 0" class="ng-binding">牛力洋</td>
												<td style="width: 100px; text-align: center">承担任务</td>
												<td style="color: #538ca6; min-width: 140px"><span
														class="ng-binding">编写程序，组织安排</span></td>
											</tr>
											<tr ng-repeat="member in memberList" class="ng-scope">
												<td style="width: 100px; text-align: center" class="ng-binding">合作者</td>
												<td style="width: 100px;
                text-align: center;
                color: #10aeff;
                padding: 10px 0" class="ng-binding">李旭睿</td>
												<td style="width: 100px; text-align: center">承担任务</td>
												<td style="color: #538ca6; min-width: 140px"><span
														class="ng-binding">测试数据，撰写报告</span></td>
											</tr>
											<tr ng-repeat-start="step in shameData"
												ng-if="$index ==0 || stepOrder &gt; 2" class="ng-scope">
												<th colspan="4" class="ng-binding"><img
														ng-src="./img/middle/step-icon1.png" alt=""
														src="./assets/moors_project/step-icon1.png">课题计划</th>
											</tr>
											<tr ng-repeat="note in step.json"
												ng-if="$parent.$index ==0 || stepOrder &gt; 2" class="ng-scope">
												<td colspan="2" style="text-align: left; width: 240px"
													class="ng-binding">代表作标题</td>
												<td colspan="2" style="text-align: left; color: #538ca6"
													ng-class="{&#39;table-file&#39;: note.type == &#39;attachment&#39;}"
													ng-if="note.type !== &#39;checkbox&#39; &amp;&amp;note.type !==&#39;checkbox_text&#39;&amp;&amp; note.type !==&#39;checkbox_attachment&#39;&amp;&amp; note.type !==&#39;rich_text&#39;"
													class="ng-binding ng-scope">基于C++实现的一元二次方程的一般式求解
												</td>
											</tr>
											<tr ng-repeat="note in step.json"
												ng-if="$parent.$index ==0 || stepOrder &gt; 2" class="ng-scope">
												<td colspan="2" style="text-align: left; width: 240px"
													class="ng-binding">探究或创作目的</td>
												<td colspan="2" style="text-align: left; color: #538ca6"
													ng-class="{&#39;table-file&#39;: note.type == &#39;attachment&#39;}"
													ng-if="note.type !== &#39;checkbox&#39; &amp;&amp;note.type !==&#39;checkbox_text&#39;&amp;&amp; note.type !==&#39;checkbox_attachment&#39;&amp;&amp; note.type !==&#39;rich_text&#39;"
													class="ng-binding ng-scope">
													最近我们学习了二次函数的图像，想起了之前学习的一元二次方程的求解，于是想通过编程实现自动求解，同时让我们求解一元二次方程更加熟练，为二次函数图像中的顶点、交点的求解打好基础。
												</td>
											</tr>
											<tr ng-repeat="note in step.json"
												ng-if="$parent.$index ==0 || stepOrder &gt; 2" class="ng-scope">
												<td colspan="2" style="text-align: left; width: 240px"
													class="ng-binding">探究或创作的内容、方法、过程等</td>
												<td colspan="2" style="text-align: left; color: #538ca6"
													ng-class="{&#39;table-file&#39;: note.type == &#39;attachment&#39;}"
													ng-if="note.type !== &#39;checkbox&#39; &amp;&amp;note.type !==&#39;checkbox_text&#39;&amp;&amp; note.type !==&#39;checkbox_attachment&#39;&amp;&amp; note.type !==&#39;rich_text&#39;"
													class="ng-binding ng-scope">
													利用C++，获取一元二次方程一般式ax^2+bx+c=0中的a、b、c后，计算出delta，代入求根公式计算，并将结果约分，输出最简的形式
												</td>
											</tr>
											<tr ng-repeat="note in step.json"
												ng-if="$parent.$index ==0 || stepOrder &gt; 2" class="ng-scope">
												<td colspan="2" style="text-align: left; width: 240px"
													class="ng-binding">预计困难及所需资源支持(选填)</td>
												<td colspan="2" style="text-align: left; color: #538ca6"
													ng-class="{&#39;table-file&#39;: note.type == &#39;attachment&#39;}"
													ng-if="note.type !== &#39;checkbox&#39; &amp;&amp;note.type !==&#39;checkbox_text&#39;&amp;&amp; note.type !==&#39;checkbox_attachment&#39;&amp;&amp; note.type !==&#39;rich_text&#39;"
													class="ng-binding ng-scope">可能遇到的困难有：根号的化简、分子分母的约分、格式化输出，特殊输入的判断
												</td>
											</tr>
											<tr ng-repeat="note in step.json"
												ng-if="$parent.$index ==0 || stepOrder &gt; 2" class="ng-scope">
												<td colspan="2" style="text-align: left; width: 240px"
													class="ng-binding">预期成果(类型及数量，作为结题是否通过的参考依据)</td>
												<td colspan="2" style="text-align: left; color: #538ca6"
													ng-class="{&#39;table-file&#39;: note.type == &#39;attachment&#39;}"
													ng-if="note.type !== &#39;checkbox&#39; &amp;&amp;note.type !==&#39;checkbox_text&#39;&amp;&amp; note.type !==&#39;checkbox_attachment&#39;&amp;&amp; note.type !==&#39;rich_text&#39;"
													class="ng-binding ng-scope">
													输入一元二次方程一般式ax^2+bx+c=0中的a，b，c，输出其对应的实根，保留根号
												</td>
											</tr>
											<tr ng-repeat="note in step.json"
												ng-if="$parent.$index ==0 || stepOrder &gt; 2" class="ng-scope">
												<td colspan="2" style="text-align: left; width: 240px"
													class="ng-binding">参考文献</td>
												<td colspan="2" style="text-align: left; color: #538ca6"
													ng-class="{&#39;table-file&#39;: note.type == &#39;attachment&#39;}"
													ng-if="note.type !== &#39;checkbox&#39; &amp;&amp;note.type !==&#39;checkbox_text&#39;&amp;&amp; note.type !==&#39;checkbox_attachment&#39;&amp;&amp; note.type !==&#39;rich_text&#39;"
													class="ng-binding ng-scope">
												</td>
											</tr>
											<tr ng-if="
                        $index == 0 &amp;&amp; (research.status === &#39;RESEARCH_PLAN_CHECKING&#39; &amp;&amp; uProfile.authorities[0] === &#39;ROLE_Middle_Teacher&#39; || researchPlanCheckList.length &gt; 0) ||
                        $index == 2 &amp;&amp; (research.status === &#39;RESEARCH_COMPLETING&#39; &amp;&amp; uProfile.authorities[0] === &#39;ROLE_Middle_Teacher&#39; || researchCompletedCheckList.length &gt; 0)
                        " class="ng-scope">
												<th colspan="4"><img src="./assets/moors_project/t-audit.png"
														alt="">指导教师审核
												</th>
											</tr>
											<tr ng-if="$parent.$index == 0" ng-repeat="plan in researchPlanCheckList"
												class="ng-scope">
												<td style="width: 100px; text-align: center">指导教师</td>
												<td style="width: 100px; text-align: center; color: #10aeff"
													class="ng-binding">张仲炎</td>
												<td style="width: 100px; text-align: center">审核</td>
												<td style="color: #538ca6">
													<div class="table-handle-warpper"><span
															class="pass-icon pass ng-scope"
															ng-if="plan.adopted">通过</span>
														<div ng-if="!plan.edit" class="ng-binding ng-scope">
															注意撰写一下为什么要研究做这个的目的，建议从方程的特质考虑，尤其是一元二次方程与之后的二次函数的关联，要不要考虑最值问题，建议可以做适当的延伸。
														</div>
													</div>
												</td>
											</tr>
											<tr ng-repeat-end="" class="ng-scope"></tr>
											<tr ng-repeat-start="step in shameData"
												ng-if="$index ==0 || stepOrder &gt; 2" class="ng-scope">
												<th colspan="4" class="ng-binding"><img
														ng-src="./img/middle/step-icon2.png" alt=""
														src="./assets/moors_project/step-icon2.png">课题实施</th>
											</tr>
											<tr ng-repeat="note in step.json"
												ng-if="$parent.$index ==0 || stepOrder &gt; 2" class="ng-scope">
												<td colspan="2" style="text-align: left; width: 240px"
													class="ng-binding">具体操作方案(如调查问卷、访谈提纲、实验方案、工程草图、文学创作构思等)</td>
												<td colspan="2" style="text-align: left; color: #538ca6"
													ng-if="note.type == &#39;rich_text&#39;" class="ng-scope">
													title="1732203428779030938.png" alt="运行流程.png"></p>
													<p>如图为程序大致的运行流程，源代码请见原始数据。</p>
													</span>
												</td>
											</tr>
											<tr ng-repeat="note in step.json"
												ng-if="$parent.$index ==0 || stepOrder &gt; 2" class="ng-scope">
												<td colspan="2" style="text-align: left; width: 240px"
													class="ng-binding">参考资料</td>
												<td colspan="2" style="text-align: left; color: #538ca6"
													ng-class="{&#39;table-file&#39;: note.type == &#39;attachment&#39;}"
													ng-if="note.type !== &#39;checkbox&#39; &amp;&amp;note.type !==&#39;checkbox_text&#39;&amp;&amp; note.type !==&#39;checkbox_attachment&#39;&amp;&amp; note.type !==&#39;rich_text&#39;"
													class="ng-binding ng-scope">[1] Ning-H.[AHOI 2018初中组] 根式化简
													题解.[EB/OL].https://www.cnblogs.com/Ning-H/p/11581108.html
												</td>
											</tr>
											<tr ng-repeat="note in step.json"
												ng-if="$parent.$index ==0 || stepOrder &gt; 2" class="ng-scope">
												<td colspan="2" style="text-align: left; width: 240px"
													class="ng-binding">原始数据</td>
												<td colspan="2" style="text-align: left; color: #538ca6"
													ng-if="note.type ===&#39;checkbox_text&#39;|| note.type ===&#39;checkbox_attachment&#39;"
													class="ng-scope"><research-format
														content="[{&quot;key&quot;:&quot;qt&quot;,&quot;value&quot;:&quot;其它&quot;,&quot;fileId&quot;:&quot;285b7ed8-0a45-4108-9d82-dc7e25330f74&quot;,&quot;size&quot;:&quot;9917&quot;,&quot;childContent&quot;:&quot;quadratic_equation.cpp&quot;}]">
														<div class="td-div"><span class="td-title">其它：</span><span
																class="table-file">quadratic_equation.cpp(9.68KB)</span>
															<a href="./assets/moors_project/quadratic_equation.cpp"
																download="quadratic_equation.cpp">点击下载</a>
														</div>
													</research-format></td>
											</tr>
											<tr ng-repeat="note in step.json"
												ng-if="$parent.$index ==0 || stepOrder &gt; 2" class="ng-scope">
												<td colspan="2" style="text-align: left; width: 240px"
													class="ng-binding">研究结论</td>
												<td colspan="2" style="text-align: left; color: #538ca6"
													ng-class="{&#39;table-file&#39;: note.type == &#39;attachment&#39;}"
													ng-if="note.type !== &#39;checkbox&#39; &amp;&amp;note.type !==&#39;checkbox_text&#39;&amp;&amp; note.type !==&#39;checkbox_attachment&#39;&amp;&amp; note.type !==&#39;rich_text&#39;"
													class="ng-binding ng-scope">
												</td>
											</tr>
											<tr ng-repeat-end="" class="ng-scope"></tr>
											<tr ng-repeat-start="step in shameData"
												ng-if="$index ==0 || stepOrder &gt; 2" class="ng-scope">
												<th colspan="4" class="ng-binding"><img
														ng-src="./img/middle/step-icon3.png" alt=""
														src="./assets/moors_project/step-icon3.png">课题结题</th>
											</tr>
											<tr ng-repeat="note in step.json"
												ng-if="$parent.$index ==0 || stepOrder &gt; 2" class="ng-scope">
												<td colspan="2" style="text-align: left; width: 240px"
													class="ng-binding">成果说明</td>
												<td colspan="2" style="text-align: left; color: #538ca6"
													ng-if="note.type ===&#39;checkbox_text&#39;|| note.type ===&#39;checkbox_attachment&#39;"
													class="ng-scope"><research-format
														content="[{&quot;key&quot;:&quot;SP&quot;,&quot;value&quot;:&quot;视频&quot;,&quot;fileId&quot;:&quot;90ab565c-c8aa-4a3a-b6b7-175965bc7895&quot;,&quot;size&quot;:&quot;3032352&quot;,&quot;childContent&quot;:&quot;操作示例.mp4&quot;}]">
														<div class="td-div"><span class="td-title">视频：</span><span
																class="table-file">操作示例.mp4(2.89MB)</span>
															<a href="./assets/moors_project/操作示例.mp4"
																download="操作示例.mp4">点击下载</a>
														</div>
													</research-format></td>
											</tr>
											<tr ng-repeat="note in step.json"
												ng-if="$parent.$index ==0 || stepOrder &gt; 2" class="ng-scope">
												<td colspan="2" style="text-align: left; width: 240px"
													class="ng-binding">探究或创作的学习体会与思考</td>
												<td colspan="2" style="text-align: left; color: #538ca6"
													ng-class="{&#39;table-file&#39;: note.type == &#39;attachment&#39;}"
													ng-if="note.type !== &#39;checkbox&#39; &amp;&amp;note.type !==&#39;checkbox_text&#39;&amp;&amp; note.type !==&#39;checkbox_attachment&#39;&amp;&amp; note.type !==&#39;rich_text&#39;"
													class="ng-binding ng-scope">
													科技的发展推动了整个人类社会的发展，从原始的刀耕火种到现在的‌信息社会，科技给了人类社会无比强大的推动力。科技给社会带来了改变和活力，社会的发展也在无形中推进了科技的不断前行。但同是我们也要注意科技所带来的负面影响，科技的每一次突破都蕴含着新的发展的可能性，同时也蕴含着不断增长的危险性。科学技术是现代工业文明的基石，但人与自然之间的关系紧张、全球生态环境恶化等问题也随之而来。
													<!-- ngIf: researchObj[note.key+ 'Id'] --><!-- ngIf: note.type == 'text' && note.key =='learningExperience' -->
													<div ng-if="note.type == &#39;text&#39; &amp;&amp; note.key ==&#39;learningExperience&#39;"
														class="ng-scope">
													</div>
												</td>
											</tr>
											<tr ng-repeat="note in step.json"
												ng-if="$parent.$index ==0 || stepOrder &gt; 2" class="ng-scope">
												<td colspan="2" style="text-align: left; width: 240px"
													class="ng-binding">致谢</td>
												<td colspan="2" style="text-align: left; color: #538ca6"
													ng-class="{&#39;table-file&#39;: note.type == &#39;attachment&#39;}"
													ng-if="note.type !== &#39;checkbox&#39; &amp;&amp;note.type !==&#39;checkbox_text&#39;&amp;&amp; note.type !==&#39;checkbox_attachment&#39;&amp;&amp; note.type !==&#39;rich_text&#39;"
													class="ng-binding ng-scope">
												</td>
											</tr>
											<tr ng-repeat="note in step.json"
												ng-if="$parent.$index ==0 || stepOrder &gt; 2" class="ng-scope">
												<td colspan="2" style="text-align: left; width: 240px"
													class="ng-binding">撰写简介</td>
												<td colspan="2" style="text-align: left; color: #538ca6"
													ng-class="{&#39;table-file&#39;: note.type == &#39;attachment&#39;}"
													ng-if="note.type !== &#39;checkbox&#39; &amp;&amp;note.type !==&#39;checkbox_text&#39;&amp;&amp; note.type !==&#39;checkbox_attachment&#39;&amp;&amp; note.type !==&#39;rich_text&#39;"
													class="ng-binding ng-scope">一个能根据一元二次方程一般式自动求根的程序，用户依次输入一元二次方程一般式
													ax^2 + bx + c = 0 中的a、b、c，确保它们都是整数且绝对值小于 1358187913
													，然后按下Enter，程序将输出方程的根。说明：下载“佐证材料”中的可执行程序后，请按照“成果说明”中的操作示例将文件名末尾的 .1
													删去。“佐证材料”中的可执行程序仅能在 Windows 10/11 上运行。
												</td>
											</tr>
											<tr ng-repeat="note in step.json"
												ng-if="$parent.$index ==0 || stepOrder &gt; 2" class="ng-scope">
												<td colspan="2" style="text-align: left; width: 240px"
													class="ng-binding">代表作类型(四选一)</td>
												<td colspan="2" style="text-align: left; color: #538ca6"
													ng-if="note.type == &#39;checkbox&#39; &amp;&amp; c.key == researchObj[note.key]"
													ng-repeat="c in note.typeArray" class="ng-binding ng-scope">创新作品说明
												</td>
											</tr>
											<tr ng-repeat="note in step.json"
												ng-if="$parent.$index ==0 || stepOrder &gt; 2" class="ng-scope">
												<td colspan="2" style="text-align: left; width: 240px"
													class="ng-binding">佐证材料</td>
												<td colspan="2" style="text-align: left; color: #538ca6"
													ng-class="{&#39;table-file&#39;: note.type == &#39;attachment&#39;}"
													ng-if="note.type !== &#39;checkbox&#39; &amp;&amp;note.type !==&#39;checkbox_text&#39;&amp;&amp; note.type !==&#39;checkbox_attachment&#39;&amp;&amp; note.type !==&#39;rich_text&#39;"
													class="ng-binding ng-scope table-file">
													quadratic_equation_win10-11_x86-64.exe.1
													<a href="./assets/moors_project/quadratic_equation_win10-11_x86-64.exe.1"
														download="quadratic_equation_win10-11_x86-64.exe.1">点击下载</a>
												</td>
											</tr>
											<tr ng-if="
                        $index == 0 &amp;&amp; (research.status === &#39;RESEARCH_PLAN_CHECKING&#39; &amp;&amp; uProfile.authorities[0] === &#39;ROLE_Middle_Teacher&#39; || researchPlanCheckList.length &gt; 0) ||
                        $index == 2 &amp;&amp; (research.status === &#39;RESEARCH_COMPLETING&#39; &amp;&amp; uProfile.authorities[0] === &#39;ROLE_Middle_Teacher&#39; || researchCompletedCheckList.length &gt; 0)
                        " class="ng-scope">
												<th colspan="4"><img src="./assets/moors_project/t-audit.png"
														alt="">指导教师审核
												</th>
											</tr>
											<tr ng-if="$parent.$index == 2"
												ng-repeat="plan in researchCompletedCheckList" class="ng-scope">
												<td style="width: 100px; text-align: center">指导教师</td>
												<td style="width: 100px; text-align: center; color: #10aeff"
													class="ng-binding">张仲炎</td>
												<td style="width: 100px; text-align: center">审核</td>
												<td style="color: #538ca6">
													<div class="table-handle-warpper"><span
															class="pass-icon pass ng-scope"
															ng-if="plan.adopted">通过</span>
														<div ng-if="!plan.edit" class="ng-binding ng-scope">
															一个公式、一种工具的产生就是需要服务于用日常应用，整个的程序执行还是较为清晰的，今后可以再结合二次函数的图像，进一步开发，整体的报告清晰，操作界面清晰。
														</div>
													</div>
												</td>
											</tr>
											<tr ng-repeat-end="" class="ng-scope"></tr>
											<tr ng-if="(research.status === &#39;RESEARCH_COMMENTING&#39; &amp;&amp; uProfile.authorities[0] === &#39;ROLE_Middle_Teacher&#39;) 
                        || research.status === &#39;RESEARCH_COMMENTED&#39; || research.status === &#39;RESEARCH_FINISH&#39;"
												class="ng-scope">
												<th colspan="4"><img src="./assets/moors_project/t-audit.png"
														alt="">指导教师评价
												</th>
											</tr>
											<tr ng-repeat="member in teacherCommentList"
												ng-if="(research.status === &#39;RESEARCH_COMMENTING&#39; &amp;&amp; uProfile.authorities[0] === &#39;ROLE_Middle_Teacher&#39;)  
                        || research.status === &#39;RESEARCH_COMMENTED&#39; || research.status === &#39;RESEARCH_FINISH&#39;" class="ng-scope">
												<td style="width: 100px; text-align: center">学生</td>
												<td style="width: 100px; text-align: center; color: #10aeff"
													class="ng-binding">牛力洋</td>
												<td style="text-align: center">指导教师的简要评语</td>
												<td style="color: #538ca6">
													<div class="table-handle-warpper">
														<div ng-if="!member.edit  &amp;&amp; member.id"
															class="ng-binding ng-scope">整个思路清晰，程序编写简洁清晰。</div>
													</div>
												</td>
											</tr>
											<tr ng-repeat="member in teacherCommentList"
												ng-if="(research.status === &#39;RESEARCH_COMMENTING&#39; &amp;&amp; uProfile.authorities[0] === &#39;ROLE_Middle_Teacher&#39;)  
                        || research.status === &#39;RESEARCH_COMMENTED&#39; || research.status === &#39;RESEARCH_FINISH&#39;" class="ng-scope">
												<td style="width: 100px; text-align: center">学生</td>
												<td style="width: 100px; text-align: center; color: #10aeff"
													class="ng-binding">李旭睿</td>
												<td style="text-align: center">指导教师的简要评语</td>
												<td style="color: #538ca6">
													<div class="table-handle-warpper">
														<div ng-if="!member.edit  &amp;&amp; member.id"
															class="ng-binding ng-scope">整体思路清晰，报告撰写得当。</div>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</ng-view></div>
		</div>
	</div>
	</div>
</body>

</html>