<!DOCTYPE html>
<html class=" js cssanimations">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">
        @charset "UTF-8";

        [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak,
        .ng-hide:not(.ng-hide-animate) {
            display: none !important;
        }

        ng\:form {
            display: block;
        }

        .ng-animate-shim {
            visibility: hidden;
        }

        .ng-anchor {
            position: absolute;
        }
    </style>
    <title>探究型课程自适应学习平台</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
    <meta name="renderer" content="webkit">
    <meta name="apple-mobile-web-app-title" content="研究性学习">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta name="screen-orientation" content="portrait">
    <meta name="full-screen" content="yes"><!-- UC强制全屏 -->
    <meta name="browsermode" content="application"><!-- UC应用模式 -->
    <meta name="x5-orientation" content="portrait"><!-- QQ强制竖屏 -->
    <meta name="x5-fullscreen" content="true"><!-- QQ强制全屏 -->
    <meta name="x5-page-mode" content="app"><!-- QQ应用模式 -->
    <link rel="stylesheet" href="./assets/moors_project/moor-6cf6ee9e49.min.css">
</head>

<body ng-app="MoorMiddleApp" ng-controller="middleMainCtrl as mainCtrl" class="ng-scope">
    <div class="v2-main-body student-bg"
        ng-class="{&#39;teacher-bg&#39;: uProfile.authorities[0] === &#39;ROLE_Middle_Teacher&#39;,&#39;student-bg&#39;:uProfile.authorities[0] === &#39;ROLE_Middle_Student&#39;}">
        <div id="app-body" class="app-body">
            <div class="app-content content-warpper middle-view-page"><ng-view class="ng-scope">
                    <div class="view-warpper ng-scope"
                        ng-class="{&#39;scrollable-admin&#39;:fromType === &#39;manage&#39;}">
                        <div class="view-header ng-scope" ng-if="fromType === &#39;research&#39;"><span
                                class="header-text-d" ui-back-url="" data-url="/researchList">课题列表 &gt;</span> <span
                                class="header-text-d ng-binding">主题 &gt;</span> <span
                                class="header-text ng-binding">主题</span></div>
                        <div class="view-body">
                            <div class="view-body-full">
                                <div class="preview-title ng-binding">主题名</div>
                                <div class="preview-title small ng-binding">指导教师：XXX</div>
                                <div class="preview-content">
                                    <table class="preview-table">
                                        <tbody>
                                            <tr>
                                                <th colspan="4"><img src="./assets/moors_project/team-icon.png"
                                                        alt="">团队组建
                                                </th>
                                            </tr>
                                            <tr ng-repeat="member in memberList" class="ng-scope">
                                                <td style="width: 100px; text-align: center" class="ng-binding">创建者</td>
                                                <td style="width: 100px;
                text-align: center;
                color: #10aeff;
                padding: 10px 0" class="ng-binding">XXX</td>
                                                <td style="width: 100px; text-align: center">承担任务</td>
                                                <td style="color: #538ca6; min-width: 140px"><span
                                                        class="ng-binding"></span></td>
                                            </tr>
                                            <tr ng-repeat="member in memberList" class="ng-scope">
                                                <td style="width: 100px; text-align: center" class="ng-binding">合作者</td>
                                                <td style="width: 100px;
                text-align: center;
                color: #10aeff;
                padding: 10px 0" class="ng-binding">XXX</td>
                                                <td style="width: 100px; text-align: center">承担任务</td>
                                                <td style="color: #538ca6; min-width: 140px"><span
                                                        class="ng-binding"></span></td>
                                            </tr>
                                            <tr ng-repeat-start="step in shameData"
                                                ng-if="$index ==0 || stepOrder &gt; 2" class="ng-scope">
                                                <th colspan="4" class="ng-binding"><img
                                                        ng-src="./img/middle/step-icon1.png" alt=""
                                                        src="./assets/moors_project/step-icon1.png">课题计划</th>
                                            </tr>
                                            <tr ng-repeat="note in step.json"
                                                ng-if="$parent.$index ==0 || stepOrder &gt; 2" class="ng-scope">
                                                <td colspan="2" style="text-align: left; width: 240px"
                                                    class="ng-binding">代表作标题</td>
                                                <td colspan="2" style="text-align: left; color: #538ca6"
                                                    ng-class="{&#39;table-file&#39;: note.type == &#39;attachment&#39;}"
                                                    ng-if="note.type !== &#39;checkbox&#39; &amp;&amp;note.type !==&#39;checkbox_text&#39;&amp;&amp; note.type !==&#39;checkbox_attachment&#39;&amp;&amp; note.type !==&#39;rich_text&#39;"
                                                    class="ng-binding ng-scope">
                                                </td>
                                            </tr>
                                            <tr ng-repeat="note in step.json"
                                                ng-if="$parent.$index ==0 || stepOrder &gt; 2" class="ng-scope">
                                                <td colspan="2" style="text-align: left; width: 240px"
                                                    class="ng-binding">探究或创作目的</td>
                                                <td colspan="2" style="text-align: left; color: #538ca6"
                                                    ng-class="{&#39;table-file&#39;: note.type == &#39;attachment&#39;}"
                                                    ng-if="note.type !== &#39;checkbox&#39; &amp;&amp;note.type !==&#39;checkbox_text&#39;&amp;&amp; note.type !==&#39;checkbox_attachment&#39;&amp;&amp; note.type !==&#39;rich_text&#39;"
                                                    class="ng-binding ng-scope">200字以内
                                                </td>
                                            </tr>
                                            <tr ng-repeat="note in step.json"
                                                ng-if="$parent.$index ==0 || stepOrder &gt; 2" class="ng-scope">
                                                <td colspan="2" style="text-align: left; width: 240px"
                                                    class="ng-binding">探究或创作的内容、方法、过程等</td>
                                                <td colspan="2" style="text-align: left; color: #538ca6"
                                                    ng-class="{&#39;table-file&#39;: note.type == &#39;attachment&#39;}"
                                                    ng-if="note.type !== &#39;checkbox&#39; &amp;&amp;note.type !==&#39;checkbox_text&#39;&amp;&amp; note.type !==&#39;checkbox_attachment&#39;&amp;&amp; note.type !==&#39;rich_text&#39;"
                                                    class="ng-binding ng-scope">
                                                </td>
                                            </tr>
                                            <tr ng-repeat="note in step.json"
                                                ng-if="$parent.$index ==0 || stepOrder &gt; 2" class="ng-scope">
                                                <td colspan="2" style="text-align: left; width: 240px"
                                                    class="ng-binding">预计困难及所需资源支持(选填)</td>
                                                <td colspan="2" style="text-align: left; color: #538ca6"
                                                    ng-class="{&#39;table-file&#39;: note.type == &#39;attachment&#39;}"
                                                    ng-if="note.type !== &#39;checkbox&#39; &amp;&amp;note.type !==&#39;checkbox_text&#39;&amp;&amp; note.type !==&#39;checkbox_attachment&#39;&amp;&amp; note.type !==&#39;rich_text&#39;"
                                                    class="ng-binding ng-scope">
                                                </td>
                                            </tr>
                                            <tr ng-repeat="note in step.json"
                                                ng-if="$parent.$index ==0 || stepOrder &gt; 2" class="ng-scope">
                                                <td colspan="2" style="text-align: left; width: 240px"
                                                    class="ng-binding">预期成果(类型及数量，作为结题是否通过的参考依据)</td>
                                                <td colspan="2" style="text-align: left; color: #538ca6"
                                                    ng-class="{&#39;table-file&#39;: note.type == &#39;attachment&#39;}"
                                                    ng-if="note.type !== &#39;checkbox&#39; &amp;&amp;note.type !==&#39;checkbox_text&#39;&amp;&amp; note.type !==&#39;checkbox_attachment&#39;&amp;&amp; note.type !==&#39;rich_text&#39;"
                                                    class="ng-binding ng-scope">
                                                </td>
                                            </tr>
                                            <tr ng-repeat="note in step.json"
                                                ng-if="$parent.$index ==0 || stepOrder &gt; 2" class="ng-scope">
                                                <td colspan="2" style="text-align: left; width: 240px"
                                                    class="ng-binding">参考文献</td>
                                                <td colspan="2" style="text-align: left; color: #538ca6"
                                                    ng-class="{&#39;table-file&#39;: note.type == &#39;attachment&#39;}"
                                                    ng-if="note.type !== &#39;checkbox&#39; &amp;&amp;note.type !==&#39;checkbox_text&#39;&amp;&amp; note.type !==&#39;checkbox_attachment&#39;&amp;&amp; note.type !==&#39;rich_text&#39;"
                                                    class="ng-binding ng-scope">
                                                </td>
                                            </tr>
                                            <tr ng-if="
                        $index == 0 &amp;&amp; (research.status === &#39;RESEARCH_PLAN_CHECKING&#39; &amp;&amp; uProfile.authorities[0] === &#39;ROLE_Middle_Teacher&#39; || researchPlanCheckList.length &gt; 0) ||
                        $index == 2 &amp;&amp; (research.status === &#39;RESEARCH_COMPLETING&#39; &amp;&amp; uProfile.authorities[0] === &#39;ROLE_Middle_Teacher&#39; || researchCompletedCheckList.length &gt; 0)
                        " class="ng-scope">
                                                <th colspan="4"><img src="./assets/moors_project/t-audit.png"
                                                        alt="">指导教师审核
                                                </th>
                                            </tr>
                                            <tr ng-if="$parent.$index == 0" ng-repeat="plan in researchPlanCheckList"
                                                class="ng-scope">
                                                <td style="width: 100px; text-align: center">指导教师</td>
                                                <td style="width: 100px; text-align: center; color: #10aeff"
                                                    class="ng-binding">XXX</td>
                                                <td style="width: 100px; text-align: center">审核</td>
                                                <td style="color: #538ca6">
                                                    <div class="table-handle-warpper"><span
                                                            class="pass-icon pass ng-scope"
                                                            ng-if="plan.adopted">通过</span>
                                                        <div ng-if="!plan.edit" class="ng-binding ng-scope">
                                                            评语
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr ng-repeat-end="" class="ng-scope"></tr>
                                            <tr ng-repeat-start="step in shameData"
                                                ng-if="$index ==0 || stepOrder &gt; 2" class="ng-scope">
                                                <th colspan="4" class="ng-binding"><img
                                                        ng-src="./img/middle/step-icon2.png" alt=""
                                                        src="./assets/moors_project/step-icon2.png">课题实施</th>
                                            </tr>
                                            <tr ng-repeat="note in step.json"
                                                ng-if="$parent.$index ==0 || stepOrder &gt; 2" class="ng-scope">
                                                <td colspan="2" style="text-align: left; width: 240px"
                                                    class="ng-binding">具体操作方案(如调查问卷、访谈提纲、实验方案、工程草图、文学创作构思等)</td>
                                                <td colspan="2" style="text-align: left; color: #538ca6"
                                                    ng-if="note.type == &#39;rich_text&#39;" class="ng-scope">可插入图片
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr ng-repeat="note in step.json"
                                                ng-if="$parent.$index ==0 || stepOrder &gt; 2" class="ng-scope">
                                                <td colspan="2" style="text-align: left; width: 240px"
                                                    class="ng-binding">参考资料</td>
                                                <td colspan="2" style="text-align: left; color: #538ca6"
                                                    ng-class="{&#39;table-file&#39;: note.type == &#39;attachment&#39;}"
                                                    ng-if="note.type !== &#39;checkbox&#39; &amp;&amp;note.type !==&#39;checkbox_text&#39;&amp;&amp; note.type !==&#39;checkbox_attachment&#39;&amp;&amp; note.type !==&#39;rich_text&#39;"
                                                    class="ng-binding ng-scope">
                                                </td>
                                            </tr>
                                            <tr ng-repeat="note in step.json"
                                                ng-if="$parent.$index ==0 || stepOrder &gt; 2" class="ng-scope">
                                                <td colspan="2" style="text-align: left; width: 240px"
                                                    class="ng-binding">原始数据</td>
                                                <td colspan="2" style="text-align: left; color: #538ca6"
                                                    ng-if="note.type ===&#39;checkbox_text&#39;|| note.type ===&#39;checkbox_attachment&#39;"
                                                    class="ng-scope"><research-format
                                                        content="[{&quot;key&quot;:&quot;qt&quot;,&quot;value&quot;:&quot;其它&quot;,&quot;fileId&quot;:&quot;285b7ed8-0a45-4108-9d82-dc7e25330f74&quot;,&quot;size&quot;:&quot;9917&quot;,&quot;childContent&quot;:&quot;quadratic_equation.cpp&quot;}]">
                                                        <div class="td-div"><span
                                                                class="td-title">回收的问卷/访谈记录/实验数据/作品制作过程照片/成品性能测试/文字作品中间稿/其它</span>
                                                        </div>
                                                    </research-format></td>
                                            </tr>
                                            <tr ng-repeat="note in step.json"
                                                ng-if="$parent.$index ==0 || stepOrder &gt; 2" class="ng-scope">
                                                <td colspan="2" style="text-align: left; width: 240px"
                                                    class="ng-binding">研究结论</td>
                                                <td colspan="2" style="text-align: left; color: #538ca6"
                                                    ng-class="{&#39;table-file&#39;: note.type == &#39;attachment&#39;}"
                                                    ng-if="note.type !== &#39;checkbox&#39; &amp;&amp;note.type !==&#39;checkbox_text&#39;&amp;&amp; note.type !==&#39;checkbox_attachment&#39;&amp;&amp; note.type !==&#39;rich_text&#39;"
                                                    class="ng-binding ng-scope">500字以内数据分析、修改说明等
                                                </td>
                                            </tr>
                                            <tr ng-repeat-end="" class="ng-scope"></tr>
                                            <tr ng-repeat-start="step in shameData"
                                                ng-if="$index ==0 || stepOrder &gt; 2" class="ng-scope">
                                                <th colspan="4" class="ng-binding"><img
                                                        ng-src="./img/middle/step-icon3.png" alt=""
                                                        src="./assets/moors_project/step-icon3.png">课题结题</th>
                                            </tr>
                                            <tr ng-repeat="note in step.json"
                                                ng-if="$parent.$index ==0 || stepOrder &gt; 2" class="ng-scope">
                                                <td colspan="2" style="text-align: left; width: 240px"
                                                    class="ng-binding">成果说明</td>
                                                <td colspan="2" style="text-align: left; color: #538ca6"
                                                    ng-if="note.type ===&#39;checkbox_text&#39;|| note.type ===&#39;checkbox_attachment&#39;"
                                                    class="ng-scope"><research-format
                                                        content="[{&quot;key&quot;:&quot;SP&quot;,&quot;value&quot;:&quot;视频&quot;,&quot;fileId&quot;:&quot;90ab565c-c8aa-4a3a-b6b7-175965bc7895&quot;,&quot;size&quot;:&quot;3032352&quot;,&quot;childContent&quot;:&quot;操作示例.mp4&quot;}]">
                                                        <div class="td-div"><span
                                                                class="td-title">研究报告/文字说明/展示PPT海报/视频/其他</span>
                                                        </div>
                                                    </research-format></td>
                                            </tr>
                                            <tr ng-repeat="note in step.json"
                                                ng-if="$parent.$index ==0 || stepOrder &gt; 2" class="ng-scope">
                                                <td colspan="2" style="text-align: left; width: 240px"
                                                    class="ng-binding">探究或创作的学习体会与思考</td>
                                                <td colspan="2" style="text-align: left; color: #538ca6"
                                                    ng-class="{&#39;table-file&#39;: note.type == &#39;attachment&#39;}"
                                                    ng-if="note.type !== &#39;checkbox&#39; &amp;&amp;note.type !==&#39;checkbox_text&#39;&amp;&amp; note.type !==&#39;checkbox_attachment&#39;&amp;&amp; note.type !==&#39;rich_text&#39;"
                                                    class="ng-binding ng-scope">
                                                    200字以内
                                                    <div ng-if="note.type == &#39;text&#39; &amp;&amp; note.key ==&#39;learningExperience&#39;"
                                                        class="ng-scope">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr ng-repeat="note in step.json"
                                                ng-if="$parent.$index ==0 || stepOrder &gt; 2" class="ng-scope">
                                                <td colspan="2" style="text-align: left; width: 240px"
                                                    class="ng-binding">致谢</td>
                                                <td colspan="2" style="text-align: left; color: #538ca6"
                                                    ng-class="{&#39;table-file&#39;: note.type == &#39;attachment&#39;}"
                                                    ng-if="note.type !== &#39;checkbox&#39; &amp;&amp;note.type !==&#39;checkbox_text&#39;&amp;&amp; note.type !==&#39;checkbox_attachment&#39;&amp;&amp; note.type !==&#39;rich_text&#39;"
                                                    class="ng-binding ng-scope">200字以内
                                                </td>
                                            </tr>
                                            <tr ng-repeat="note in step.json"
                                                ng-if="$parent.$index ==0 || stepOrder &gt; 2" class="ng-scope">
                                                <td colspan="2" style="text-align: left; width: 240px"
                                                    class="ng-binding">撰写简介</td>
                                                <td colspan="2" style="text-align: left; color: #538ca6"
                                                    ng-class="{&#39;table-file&#39;: note.type == &#39;attachment&#39;}"
                                                    ng-if="note.type !== &#39;checkbox&#39; &amp;&amp;note.type !==&#39;checkbox_text&#39;&amp;&amp; note.type !==&#39;checkbox_attachment&#39;&amp;&amp; note.type !==&#39;rich_text&#39;"
                                                    class="ng-binding ng-scope">500字以内
                                                </td>
                                            </tr>
                                            <tr ng-repeat="note in step.json"
                                                ng-if="$parent.$index ==0 || stepOrder &gt; 2" class="ng-scope">
                                                <td colspan="2" style="text-align: left; width: 240px"
                                                    class="ng-binding">代表作类型(四选一)</td>
                                                <td colspan="2" style="text-align: left; color: #538ca6"
                                                    ng-if="note.type == &#39;checkbox&#39; &amp;&amp; c.key == researchObj[note.key]"
                                                    ng-repeat="c in note.typeArray" class="ng-binding ng-scope">
                                                    探究学习报告/科学实验报告/社会考察报告/创新作品说明
                                                </td>
                                            </tr>
                                            <tr ng-repeat="note in step.json"
                                                ng-if="$parent.$index ==0 || stepOrder &gt; 2" class="ng-scope">
                                                <td colspan="2" style="text-align: left; width: 240px"
                                                    class="ng-binding">佐证材料</td>
                                                <td colspan="2" style="text-align: left; color: #538ca6"
                                                    ng-class="{&#39;table-file&#39;: note.type == &#39;attachment&#39;}"
                                                    ng-if="note.type !== &#39;checkbox&#39; &amp;&amp;note.type !==&#39;checkbox_text&#39;&amp;&amp; note.type !==&#39;checkbox_attachment&#39;&amp;&amp; note.type !==&#39;rich_text&#39;"
                                                    class="ng-binding ng-scope table-file">
                                                </td>
                                            </tr>
                                            <tr ng-if="
                        $index == 0 &amp;&amp; (research.status === &#39;RESEARCH_PLAN_CHECKING&#39; &amp;&amp; uProfile.authorities[0] === &#39;ROLE_Middle_Teacher&#39; || researchPlanCheckList.length &gt; 0) ||
                        $index == 2 &amp;&amp; (research.status === &#39;RESEARCH_COMPLETING&#39; &amp;&amp; uProfile.authorities[0] === &#39;ROLE_Middle_Teacher&#39; || researchCompletedCheckList.length &gt; 0)
                        " class="ng-scope">
                                                <th colspan="4"><img src="./assets/moors_project/t-audit.png"
                                                        alt="">指导教师审核
                                                </th>
                                            </tr>
                                            <tr ng-if="$parent.$index == 2"
                                                ng-repeat="plan in researchCompletedCheckList" class="ng-scope">
                                                <td style="width: 100px; text-align: center">指导教师</td>
                                                <td style="width: 100px; text-align: center; color: #10aeff"
                                                    class="ng-binding">XXX</td>
                                                <td style="width: 100px; text-align: center">审核</td>
                                                <td style="color: #538ca6">
                                                    <div class="table-handle-warpper"><span
                                                            class="pass-icon pass ng-scope"
                                                            ng-if="plan.adopted">通过</span>
                                                        <div ng-if="!plan.edit" class="ng-binding ng-scope">
                                                            评语
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr ng-repeat-end="" class="ng-scope"></tr>
                                            <tr ng-if="(research.status === &#39;RESEARCH_COMMENTING&#39; &amp;&amp; uProfile.authorities[0] === &#39;ROLE_Middle_Teacher&#39;) 
                        || research.status === &#39;RESEARCH_COMMENTED&#39; || research.status === &#39;RESEARCH_FINISH&#39;"
                                                class="ng-scope">
                                                <th colspan="4"><img src="./assets/moors_project/t-audit.png"
                                                        alt="">指导教师评价
                                                </th>
                                            </tr>
                                            <tr ng-repeat="member in teacherCommentList"
                                                ng-if="(research.status === &#39;RESEARCH_COMMENTING&#39; &amp;&amp; uProfile.authorities[0] === &#39;ROLE_Middle_Teacher&#39;)  
                        || research.status === &#39;RESEARCH_COMMENTED&#39; || research.status === &#39;RESEARCH_FINISH&#39;" class="ng-scope">
                                                <td style="width: 100px; text-align: center">学生</td>
                                                <td style="width: 100px; text-align: center; color: #10aeff"
                                                    class="ng-binding">XXX</td>
                                                <td style="text-align: center">指导教师的简要评语</td>
                                                <td style="color: #538ca6">
                                                    <div class="table-handle-warpper">
                                                        <div ng-if="!member.edit  &amp;&amp; member.id"
                                                            class="ng-binding ng-scope">评语</div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr ng-repeat="member in teacherCommentList"
                                                ng-if="(research.status === &#39;RESEARCH_COMMENTING&#39; &amp;&amp; uProfile.authorities[0] === &#39;ROLE_Middle_Teacher&#39;)  
                        || research.status === &#39;RESEARCH_COMMENTED&#39; || research.status === &#39;RESEARCH_FINISH&#39;" class="ng-scope">
                                                <td style="width: 100px; text-align: center">学生</td>
                                                <td style="width: 100px; text-align: center; color: #10aeff"
                                                    class="ng-binding">XXX</td>
                                                <td style="text-align: center">指导教师的简要评语</td>
                                                <td style="color: #538ca6">
                                                    <div class="table-handle-warpper">
                                                        <div ng-if="!member.edit  &amp;&amp; member.id"
                                                            class="ng-binding ng-scope">评语</div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-view></div>
        </div>
    </div>
    </div>
</body>

</html>